fastapi
uvicorn[standard]
pydantic
pydantic-settings
email-validator
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
pandas
prophet
scikit-learn
httpx
python-multipart
redis
psycopg2-binary
pymongo
